.navbar-container {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    background-color: #658af1;
    padding: 32px 16px;
    align-items: center;
    height: 100vh;
    gap: 30px;
}

.fotoImg {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
}

.fotoImg img {
    clip-path: circle(50%);
    max-width: 100%;
    max-height: 100%;
}

.navbar-actions {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navbar-actions li {
    border: 1px solid #000;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: #fff;
    padding: 8px 48px;
    font-size: 24px;
    text-align: center;
}

.navbar-actions li:hover {
    opacity: 0.5;
}

.navbar-actions a {
    text-decoration: none;
    color: #212121;
    width: 100%;
}